// --------------------------------------------------
// 💅🏼 sass --watch src/styles/main.scss:src/styles/index.css
// --------------------------------------------------

// BODY
* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}

// ABSTRACTS
@import "./abstracts/variables";
@import "./abstracts/mixins";

// BASE
@import "./base/flex";
@import "./base/main-page";

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
